# Игнорируем виртуальное окружение
.venv/
venv/
env/
ENV/

# Игнорируем кеш Python
__pycache__/
*.py[cod]
*$py.class

# Игнорируем файлы VS Code
.vscode/
.idea/
*.swp
*.swo

# Игнорировать логи и временные файлы
*.log
*.tmp
*.bak

# Игнорировать секреты - токен бота
.env
*.env
secrets/

# Игнорировать дистрибутивы и сборки
build/
dist/
*.egg-info/
*.egg

# Игнорируем файлы БД
*.db
*.sqlite3